{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account</title>
    <link rel="stylesheet" href="..\static\style.css">
</head>
<body>
    <header>
        <h3>Welcome to your account, {{ user.username }}!</h3>
    </header>
    {% if user.is_authenticated %}
    <div class="loggedin">
        <nav>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/account">Account</a></li>
                <li><a href="/signout">Contact Us</a></li>
                <li><a href="/signout">Sign Out</a></li>
            </ul>
        </nav>
    </div>
    {% if user.userprofile.portfolio %}
        <p>Current value : £{{user.userprofile.balance}} </p>
        <button>Add Coin</button>

    {% else %}
        <form action="/account" method="post">
            {% csrf_token %}
            <input type="submit" value="Create a portfolio">
        </form>
    {% endif %}
    {% else %}
        <script>
            // Redirect to sign-in page
            window.location.href = "/signin";
        </script>
    {% endif %}
</body>
</html>
