{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="../static/style.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <header>
        <h3>Welcome to the Crypto Trader simulator, {{user.username}}!</h3>
    </header>
    {% if user.is_authenticated %}
    <div class="loggedin">
        <nav>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/account">Account</a></li>
                <li><a href="/signout">Contact Us</a></li>
                <li><a href="/signout">Sign Out</a></li>
            </ul>
        </nav>
    </div>
    
    <div class="container">
        <div id="statsbox">
            {% if user.userprofile.portfolio %}
                <h2>Your Portfolio: </h2>
                <p>Current Balance: £{{user.userprofile.balance}}</p>
                <div id="chart-container">
                    <canvas id="balance-chart"></canvas>
                </div>
                <h4>Assets:</h4>
                <table class="table">
                    <tr>
                        <th>Coin Name</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Transaction type</th>
                        <th>Transaction date</th>
                    </tr>
                    {% for transaction in user.userprofile.portfolio.transaction_set.all %}
                    <tr>
                        <td>{{ transaction.coin.name }}</td>
                        <td>{{ transaction.quantity }}</td>
                        <td>{{ transaction.price }}</td>
                        <td>{{transaction.transaction_type}}</td>
                        <td>{{transaction.timestamp}}</td>
                    </tr>
                    {% endfor %}
                </table>
                <form id="buyform" method="post" action="{% url 'buy' %}">
                    {% csrf_token %}
                    <input type="coin" name="coin" value="bitcoin">
                    <input type="real" name="amount" placeholder="Amount">
                    <button id="buybutton" type="submit">Buy</button>
                </form>
    
                <form id="sellform" method="post" action="{% url 'sell' %}">
                    {% csrf_token %}
                    <input type="coin" name="coin" value="bitcoin">
                    <input type="real" name="amount" placeholder="Amount">
                    <button id="sellbutton" type="submit">Sell</button>
                </form>
            {% else %}
                <h2>Looks like you don't have a portfolio created. Click on 'Account' to make one! </h2>
            {% endif %}

            <script>
                function drawChart() {
                    var balanceHistory = JSON.parse('{{ balance_history_json|safe }}');
                    var labels = balanceHistory.map(function(item) { return item[0]; });
                    var data = balanceHistory.map(function(item) { return item[1]; });
                    var ctx = document.getElementById('balance-chart').getContext('2d');
                    var balanceChart = new Chart(ctx, {
                        type: 'line',
                        data: {
                            labels: labels,
                            datasets: [{
                                label: 'Balance history',
                                data: data,
                                fill: false,
                                borderColor: 'black'
                            }]
                        },
                        options: {
                            responsive: true,
                            title: {
                                display: true,
                                text: 'Balance history'
                            },
                            scales: {
                                xAxes: [{
                                    type: 'time',
                                    time: {
                                        unit: 'day'
                                    },
                                    scaleLabel: {
                                        display: true,
                                        labelString: 'Date'
                                    }
                                }],
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true
                                    },
                                    scaleLabel: {
                                        display: true,
                                        labelString: 'Balance'
                                    }
                                }]
                            }
                        }
                    });
                }
            
                window.onload = function() {
                    drawChart();
                };
            </script>
        </div>
        <div id="cryptobox">
            <div id="coins">
            {% for coin in coins %}
                <div class="coin-price">
                    <div class="logo"><img src="{{ coin.image_url }}"></div>
                    <div>
                        <h3>£<span id="{{ coin.symbol }}"></span></h3>
                        <h3>{{ coin.name }}</h3>
                        <button id="viewgraph" onClick = drawgraph("{{ coin.symbol }}")>View graph</button>
                    </div>
                </div>
            {% endfor %}
            </div>
            <div id="graph">
                <div id="canvasdiv">
                    <canvas id="myChart"></canvas>
                </div>
                <script src="../static/chart.js"></script>
            </div>
        </div>
    </div>

    {% else %}
        <script>
            // Redirect to sign-in page
            window.location.href = "/signin";
        </script>
    {% endif %}
    <script src="{% static 'price.js' %}"></script>
</body>
</html>