{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="..\static\style.css">
    <script src = "https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <header>
        <h3>Welcome to the Crypto Trader simulator, {{user.username}}!</h3>
    </header>
    {% if user.is_authenticated %}
    <div class="loggedin">
        <nav>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/home">Account</a></li>
                <li><a href="/signout">Contact Us</a></li>
                <li><a href="/signout">Sign Out</a></li>
            </ul>
        </nav>
    </div>
    
    <form action="account" method="post">
        {% csrf_token %}
            <input type="text" id="username" name="username" required>
            <span></span>
            <label>Create</label>
        <input type="submit" value="Create a portfolio">
    </form>
    <div class="container">
        <div id="statsbox">
            s
        </div>
        <div id="cryptobox">
            <div id="coins">
                <div class="coin-price">
                    <div class="logo"><img src="{% static 'bitcoin.png' %}"></div>
                    <div>
                        <h3>£<span id="bitcoin"></span></h3>
                        <h3>Bitcoin</h3>
                        <button id="viewgraph" onClick = drawgraph("bitcoin")>View graph</button>
                    </div>
                </div>
                <div class="coin-price">
                    <div class="logo"><img src="{% static 'ethereum.png' %}"></div>
                    <div>
                        <h3>£<span id="ethereum"></span></h3>
                        <h3>Ethereum</h3>
                        <button id="viewgraph" onClick = drawgraph("ethereum")>View graph</button>
                        
                    </div>
                </div>
                <div class="coin-price">
                    <div class="logo"><img src="{% static 'dogecoin.png' %}"></div>
                    <div>
                        <h3>£<span id="dogecoin"></span></h3>
                        <h3>Dogecoin</h3>
                        <button id="viewgraph" onClick = drawgraph("dogecoin")>View graph</button>
                    </div>
                </div>
                <div class="coin-price">
                    <div class="logo"><img src="{% static 'solana.png' %}"></div>
                    <div>
                        <h3>£<span id="solana"></span></h3>
                        <h3>Solana</h3>
                        <button id="viewgraph" onClick = drawgraph("solana")>View graph</button>
                    </div>
                </div>
                <div class="coin-price">
                    <div class="logo"><img src="{% static 'solana.png' %}"></div>
                    <div>
                        <h3>£<span id="solana"></span></h3>
                        <h3>Solana</h3>
                    </div>
                </div>
                <div class="coin-price">
                    <div class="logo"><img src="{% static 'solana.png' %}"></div>
                    <div>
                        <h3>£<span id="solana"></span></h3>
                        <h3>Solana</h3>
                    </div>
                </div>
                <div class="coin-price">
                    <div class="logo"><img src="{% static 'solana.png' %}"></div>
                    <div>
                        <h3>£<span id="solana"></span></h3>
                        <h3>Solana</h3>
                    </div>
                </div>
                
            </div>
            <div id="graph">
                <div id="canvasdiv">
                    <canvas id="myChart"></canvas>
                </div>
                <button id="destroybutton" onClick = destroycharts()>Clear graphs</button>
                <script src="../static/chart.js"></script>
            </div>
        </div>
    </div>

    {% else %}
        <script>
            // Redirect to sign-in page
            window.location.href = "/signin";
        </script>
    {% endif %}
    <script src="{% static 'price.js' %}"></script>
</body>
</html>

