{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="{% static 'C:\Users\shivb\Desktop\coding bits\crypto-tradingapp\CryptoTrader\login\templates\static\style.css' %}">
    <script src = "https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>

    

    <h3>Welcome to the crypto trader {{user.username}}!</h3>


    {% if user.is_authenticated %}
    <h3>Hello!</h3>
    <h4>You're successfully logged in.</h4>
    <button type="submit"><a href="/signout">SignOut</a></button>
    <h3>Live Coin Price</h3>

    <div class = "container">
        <div class = "coin-price">
            <div class = "logo"> <img src="{% static 'bitcoin.png' %}"></div>
            <div>
                <h3>£<span id = bitcoin> </span></h3>
                <h3>Bitcoin</h3>
            </div>
        </div>
    </div>
    <div class = "coin-price">
        <div class = "logo"> <img src="{% static 'ethereum.png' %}"></div>
        <div>
            <h3>£<span id = ethereum> </span></h3>
            <h3>Ethereum</h3>
        </div>
    </div>
</div>
<div class = "coin-price">
    <div class = "logo"> <img src="{% static 'dogecoin.png' %}"></div>
    <div>
        <h3>£<span id = dogecoin> </span></h3>
        <h3>Dogecoin</h3>
    </div>
</div>
</div>
<div class = "coin-price">
    <div class = "logo"> <img src="{% static 'solana.png' %}"></div>
    <div>
        <h3>£<span id = solana> </span></h3>
        <h3>Solana</h3>
    </div>
</div>
</div>

    {% else %}
    <button type="submit"><a href="/signup">SignUp</a></button>
    <br/>
    <br/>
    <button type="submit"><a href="/signin">SignIn</a></button>
    {% endif %}
    <script src="{% static 'price.js' %}"></script>
</body>
</html>